node_modules/
.next/
out/
.env
.env.local
.env*.local
*.tsbuildinfo
next-env.d.ts
coverage/
test-results/
playwright-report/
.DS_Store
/test-results
/playwright-report

# Cloudflare
.open-next/
.wrangler/
.dev.vars
.dev.vars.*
